/* .print-labels {
    max-width: 100% !important;
    width: 100% !important;
    flex: none !important;
    margin: 5px;
} */

/* .print-labels:nth-child(1) {
    margin-top: 50px;
} */

.print-labels:nth-child(odd) {
    margin-top: 0;
    margin-bottom: 140px;
}

.print-table {
    border-collapse: collapse !important;
    border: 3px solid #000 !important;
}

#shipmenttype_code,
#service_code,
#shipper_country,
#consignee_country {
    background-color: #000 !important;
}

.print-bg-gray > td {
    background-color: #808080 !important;
}

.singlePagePrint {
    max-height: 100%;
    overflow: hidden;
    page-break-after: always;
}
